{# Layout #}
{% extends '_layouts/site' %}

{% set cartPage = craft.entries({ section: 'cart' }).one() %}
{# @var cart \craft\commerce\elements\Order #}
{% set cart = cart is not defined ? craft.commerce.carts.cart : cart %}
{% if cart is not defined or not cart.lineItems|length %}
  {% redirect cartPage ? cartPage.uri : 'cart' %}
{% endif %}

{# Variables #}
{% set successPage = craft.entries({ type: 'checkoutSuccess' }).one() %}
{% set paymentSources = craft.commerce.paymentSources.allPaymentSourcesByUserId(currentUser.id ?? null) %}
{% set paymentSourceId = currentUser and paymentSources|length ? paymentSources[0].id : false %}
{% set paymentForm = paymentForm is defined ? paymentForm : (cart.gatewayId ? cart.gateway.paymentFormModel() : null)  %}

{# Blocks #}
{% block content %}
  <!-- Template: {{ _self }}.twig -->

  {# Heading #}
  {% include '_includes/components/pages/heading' with {
    heading: entry.heading ?? entry.title
  } %}

  <div class="flex flex-wrap border-t border-gray-300 py-8">
    {{ sprig('_includes/components/forms/shipping', {
      radio: true,
      account: false
    }, {
      id: 'shipping-selector',
      's-include': '#shipping-selector',
      's-indicator': '#shipping-selector',
    }) }}
  </div>


  {{ sprig('_includes/components/forms/payment', {
    radio: true,
    account: false
  }, {
    id: 'form-payment',
    's-include': '#form-payment',
    's-indicator': '#form-payment',
  }) }}

  

  {% set gateway = craft.commerce.gateways.getGatewayByHandle('myStripeGateway') %}

{% endblock %}
